body{background-attachment:fixed; background-size: cover;}

/* Прозрачность фона */
#pageintro1{padding:100px 0;}
#pageintro1 .Progress1{color:#FFFFFF; background-color:rgba(27,32,38,.55);/* #1B2026 */}
#pageintro1 .Progress1{ max-width:100%; padding:30px; position:fixed; left: 0;  top:0; right:0; bottom:-200px;overflow:auto;}
#pageintro1 footer1{margin-top:80px; }
/* меню */
.top-menu {
  position: relative;
  top: -10px;
  left:250px;
  background: rgba(0,120,201,.8);
  max-width:799px;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}

.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Times New Roman';
  font-weight: bold;
  color: white;
  transition: .5s linear;
}
.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
.menu-main {
  padding-top: 90px;
  text-align: center;
}
.menu-main li {
  float: none;
  display: inline-block;
}
.menu-main a {
  line-height: normal;
  padding: 20px 15px;
  font-size: 16px;
}
}
@media (max-width: 630px) {
.menu-main li {display: block;}
}
/* фильтр*/
.container{
	display:flex;
	justify-content:center;
	margin:15px;
	
}

#filter_country{
	border-radius: 5px; /* Радиус скругления */
    border: 1px solid #000000; /* Параметры рамки */
	position:relative;
	right:10px;
	
}
#filter_time{
	border-radius: 5px; /* Радиус скругления */
    border: 1px solid #000000; /* Параметры рамки */
}
#filter_soys{
	border-radius: 5px; /* Радиус скругления */
    border: 1px solid #000000; /* Параметры рамки */
	position:relative;
	left:10px;
}	


	/*фильтр для основной информации */
#items {
	display:flex;
	height:10000px;
	align-items:center;
	flex-direction:column;
	left:150px;
    margin-top: 50px;
}
	
.lok{
	position:relative;
	top:-40px;
	left:10px;
	font-size:13;
    white-space: pre-wrap;
}

[data-country="rus"] { background: none; color:#ff9900;border: 2px solid #000000; border-radius: 5px; }
[data-country="ital"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-country="ipon"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-country="kiton"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-country="ispan"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}

[data-time="10min"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-time="13min"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-time="15min"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-time="20min"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-time="45min"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}


[data-soevi="meat"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-soys="tomat"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}
[data-soys="slivki"] { background: none; color:#ff9900;border: 2px solid #000000;border-radius: 5px;}

#item1 {
  width: 500px;
  height: 950px;
  margin: 10px;
}	
#item2 {
  width: 500px;
  height: 890px;
  margin: 10px;
}	
#item3 {
  width: 500px;
  height: 970px;
  margin: 10px;
}	
#item4 {
  width: 500px;
  height: 900px;
  margin: 10px;
}	
#item5 {
  width: 500px;
  height: 1060px;
  margin: 10px;
}	
#item6 {
  width: 500px;
  height: 1080px;
  margin: 10px;
}	
#item7 {
  width: 500px;
  height: 880px;
  margin: 10px;
}
#item8 {
  width: 500px;
  height: 780px;
  margin: 10px;
}
#item9 {
  width: 500px;
  height: 1100px;
  margin: 10px;
}	
#item10 {
  width: 500px;
  height: 920px;
  margin: 10px;
}		
	