/* Блок Бесконечный прогресс Mazda CX-9
--------------------------------------------------------------------------------------------------------------- */
#pageintro1{padding:100px 0;}
#pageintro1 .Progress1{color:#FFFFFF; background-color:rgba(27,32,38,.55);/* #1B2026 */}
#pageintro1 .Progress1{ max-width:100%; padding:30px; position:fixed; left: 0;  top: 0px; right:0; bottom:0; }
#pageintro1 footer1{margin-top:80px; }

@media screen and (min-width:978px){
    .hoc{max-width:1366px;}
}

.center{
    font-size: 40px;
    font-weight:bolder;
    display: block;
    width: 100%;
    text-align: center;
    margin: 124px 0 22px 0;
    font-family:Helvetica;
}
.center1{
    font-size: 20px;
    font-weight:bolder;
    display: block;
    width: 100%;
    text-align: center;
    font-family:Helvetica;
}
.listings .more_listing_btn:hover{
    color: black;
    border: 2px solid black;
}
.wrapper1{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
.listings .more_listing{
    display: block;
    width: 100%;
    text-align: center;
    margin: 84px 0 22px 0;
}
.listings .more_listing_btn{
    border-color:#000000; 
    background-color:grey;
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}


.bgded{background-attachment:fixed; 
background-size: cover;
background-image: 100%; }
.wrapperexmp1 {
    position: relative;
    display: inline-block;
}
.wrapperexmp1 img {
    background-size: 100%;
    height: 100%;
    width: 100%;
}
body{background-attachment:fixed; background-size: cover;}