#pic1{
position: relative;
left:200px;
top:200px;
}
#pic2{
position: relative;
left:450px;
top:8px;
}
#pic3{
position: relative;
left:700px;
top:-184px;
}
#pic4{
position: relative;
left:200px;
top:-150px;
}
#pic5{
position: relative;
left:450px;
top:-342px;
}
#pic6{
position: relative;
left:700px;
top:-534px;
}
#pic7{
position: relative;
left:450px;
top:-500px;
}
.menu img{
	display: fixed;
    border-radius: 10px; /* Радиус скругления */
    border: 2px solid #000000; /* Параметры рамки */
   }
.sdvig{
	position:relative;
	bottom:150px;
	left: 30px;
}
   .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }
}
.main-search__input {
    position: relative;
    height: 50px;
    width: 435px;
    font: 16px/32px Roboto,sans-serif;
    padding-left: 47px;
    border: none;
    background: none;
}
body{background-attachment:fixed; background-size: cover;}
     html { overflow-x: hidden;}
 #color{font-size:50; color:white}
 /*структура сайта*/
 div.mid{width:500px; margin:0 auto; background:#002137;}
div.header{height: 100px; width:1150px; }
form {
	
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.photo{
	position:relative;
	right:10px;
}
.col-sidebar {
	position:relative;
	top:50px;
	right:70px;
	width: 12.5%;
	background:white;
	float: right;
	padding: 20px 2.5%;
	border:2px solid #000000;
}







/* Блок Бесконечный прогресс Mazda CX-9
--------------------------------------------------------------------------------------------------------------- */
#pageintro1{padding:100px 0;}
#pageintro1 .Progress1{color:#FFFFFF; background-color:rgba(27,32,38,.55);/* #1B2026 */}
#pageintro1 .Progress1{ max-width:100%; padding:30px; position:fixed; left: 0;  top:0; right:0; bottom:-200px;overflow: scroll;}
#pageintro1 footer1{margin-top:80px; }
 





.post{
	border:solid 1 px black;
	float:bottom;
}
.post-header h2{
	text-transform:uppercase;
	font-size:35px;
	color:black;
	
}
.post-header h2 a:hover{
	color: black;
}



.my-shuffle-container {
  position: relative;
  overflow: hidden;
}

#items {
  margin-top: 50px;
}

.item {
  float: left;
  width: 500px;
  height: 500px;
  margin: 1px;
}

[data-color="red"] { background: #cf2624; }
[data-color="blue"] { background: #2478cf; }
[data-color="green"] { background: #24cf7c; }
[data-color="orange"] { background: #cf7c24; }
[data-color="yellow"] { background: #f1e81f; }

[data-shape="round"] { border-radius: 50%; }
[data-shape="rounded"] { border-radius: 10px; }
[data-shape="square"] { border-radius: 0px; }
